<div class="box editInfo">
    <h2>Change password</h2>
    <p>
        <label for="old-password" class="col-sm-2 control-label">Old Password:</label>
        <input type="password" id="old-password" ng-model="userData.oldPassword" required class="form-control selectBoxSize"/>
    </p>
    <p>
        <label for="new-password" class="col-sm-2 control-label">New Password:</label>
        <input type="password" id="new-password" ng-model="userData.newPassword" required class="form-control selectBoxSize"/>
    </p>
    <p>
        <label for="confirm-password" class="col-sm-2 control-label">Confirm Password:</label>
        <input type="password" id="confirm-password" ng-model="userData.confirmPassword" required class="form-control selectBoxSize"/>
    </p>
    <p>
        <a ng-click="changeUserPassword(userData)" class="button">Change Password</a>
        <a href="#/user/home" class="button">Cancel</a>
    <p>
</div>