<div class="box editInfo">
    <h2>Edit Profile</h2>
    <p>
        <label for="name" class="col-sm-2 control-label">Name:</label>
        <input type="text" id="name" ng-model="adData.name" class="form-control selectBoxSize"/>
    </p>
    <p>
        <label for="email" class="col-sm-2 control-label">Email:</label>
        <input type="text" id="email" ng-model="adData.email" class="form-control selectBoxSize"/>
    </p>
    <p>
        <label for="phone" class="col-sm-2 control-label">Phone:</label>
        <input type="text" id="phone" ng-model="adData.phoneNumber" class="form-control selectBoxSize"/>
    </p>
    <p>
        <label for="town" class="col-sm-2 control-label">Town:</label>
        <select id="town" ng-model="adData.townId" class="form-control selectBoxSize">
            <option value="null">(None)</option>
            <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
        </select>
    </p>
    <p>
        <a ng-click="editUserProfile(adData)" class="button">Update</a>
        <a href="#/user/ads/changePassword/" class="button">Change password</a>
        <a href="#/user/home" class="button">Cancel</a>
    <p>
</div>
