<ul class="ads">
    <li ng-repeat="ad in ads.ads" class="box" style="display: flex;" data-id="{{ad.id}}">
        <div class="titleAndImage">
            <h1>{{ad.title}} </h1>
            <div id="time"><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
            <div ng-if='ad.imageDataUrl' class="imageMineContainer">
                <img class="ad-image imageMine" ng-src="{{ad.imageDataUrl}}" />
            </div>
        </div>
        <div class="mainInformation">
            <div><strong>Text: </strong>{{ad.text}}</div>
            <div ng-if='ad.categoryName'><strong>Category: </strong>{{ad.categoryName}}</div>
            <div ng-if='ad.townName'><strong>Town: </strong>{{ad.townName}}</div>
            <div><strong>Status: </strong>{{ad.status}}</div>
            <div ng-controller="UserAdsController" class="tricky">
                <div ng-if='ad.status !== "Inactive"' class="tricky">
                    <a ng-click="deactivateUserAds(ad.id)" class="button">Deactivate</a>
                </div>
                <div ng-if='ad.status === "Inactive"' class="tricky">
                    <div>
                        <a ng-click="publishAgainAds(ad.id)" class="button">Publish Again</a>
                        <a ng-click="getUserAdById(ad.id)" href="#/user/ads/delete/{{ad.id}}" class="button">Delete</a>
                        <a ng-click="getUserAdById(ad.id)" href="#/user/ads/edit/{{ad.id}}" class="button">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>

<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
    items-per-page="adsParams.pageSize" ng-change="reloadAds()"
    max-size="9" boundary-links="true">
</pagination>