<!-- Anonymous site visiotrs -->
<div class="box" ng-if="authService.isAnonymous()">
  <h2>Navigation</h2>
  <ul class="sidebar-menu">
      <li><a href="#/">Home</a></li>
  </ul>
</div>

<!-- Login/Register for anonymous site visitors -->
<div class="box" ng-if="authService.isAnonymous()">
	<p>To publish a new ad, please login</p>
	<a href="#/login" class="button">Login</a>
	<a href="#/register" class="button">Register</a>
</div>

<!-- Navigation box for logged in normal user -->

<div ng-if="authService.isNormalUser()" class="box">
	<h2>Navigation</h2>
	<ul class="sidebar-menu">
		<li><a href="#/user/home" class="button">Home</a></li>
		<li><a href="#/user/ads" class="button">My Ads</a></li>
		<li><a href="#/user/ads/publish" class="button">Publish</a></li>
		<li><a href="#/user/profile" class="button">Edit profile</a></li>
		<li><a ng-click="logout()" class="button">Logout</a></li>
	</ul> 
</div>

<!-- Navigation box for logged in admins -->

<div ng-if="authService.isAdmin()" class="box">
	<h2>Administrator</h2>
    <ul class="sidebar-menu">
        <li><a href="#/admin/ads" class="button">Ads</a></li>
        <li><a href="#/admin/users" class="button">Users</a></li>
        <li><a href="#/admin/categories" class="button">Categories</a></li>
        <li><a href="#/admin/towns" class="button">Towns</a></li>
        <li><a ng-click="logout()" class="button">Logout</a></li>
    </ul>
</div>

<div ng-if='pageTitle === "My Ads"' class="box" ng-controller="UserAdsController">
    <h2>My Ads</h2>
    <ul class="sidebar-menu">
        <li><a href="#/user/ads" class="button">All</a></li>
        <li><a ng-click="filterUserAd()" href="#/user/ads/filter/2" class="button">Published</a></li>
        <li><a ng-click="filterUserAd()" href="#/user/ads/filter/1" class="button">Waiting Approval</a></li>
        <li><a ng-click="filterUserAd()" href="#/user/ads/filter/0" class="button">Inactive</a></li>
        <li><a ng-click="filterUserAd()" href="#/user/ads/filter/3" class="button">Rejected</a></li>
    </ul>
</div>
